[include mainsail.cfg]
[include klipper-mini12864.cfg]
[include ebb-sb-rp2040-canbus-v1.0.cfg]
[include stealthburner_leds.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_520041000D50415833323520-if00

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor BTT_Pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 3000
max_z_velocity: 50
max_z_accel: 1000

# #####################################################################
# # 	X Stepper Settings
# #####################################################################

# ######
# # Motor -XM
# # Endstop - X-STOP
# ###############
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -8
position_max: 294
position_min: -8
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
diag_pin: ^PC0
uart_address: 0
run_current: 1.0

interpolate: False
driver_SGTHRS: 140
stealthchop_threshold: 999999

#####################################################################
#   Y Stepper Settings
#####################################################################

######
# Motor -YM
# Endstop - Y-STOP
###############
[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: ^!PC1
position_endstop: 0
position_max: 300
position_min: 0
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
interpolate: False
stealthchop_threshold: 999999

#####################################################################
# 	Z Stepper Settings
#####################################################################

######
# Motor -ZAM
# Endstop - Z-STOP
###############
[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 350
position_min: -5
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 1.0
interpolate: False
stealthchop_threshold: 999999

# #####################################################################
# #   Extruder Settings
# #####################################################################

[extruder]
step_pin: EBBCan:gpio18
dir_pin: !EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
full_steps_per_rotation: 200
gear_ratio: 50:8
rotation_distance: 29.3917
nozzle_diameter: 0.6
max_extrude_only_distance: 200
max_extrude_cross_section: 5
filament_diameter: 1.750
max_power: 1.0
heater_pin: EBBCan:gpio7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan:gpio27
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.5
stealthchop_threshold: 999999

#####################################################################
# 	Bed Heater
#####################################################################

###############
# BED Heater
###############
[heater_bed]
heater_pin: PC9
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
sensor_pin: PC4
min_temp: 0
max_temp: 130
max_power: 0.8
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

## --- BIQU Microprobe Klipper configuration ---
# Not much different from a standard probe config. The
# main difference compared to most probes is to disable
# deactivating the probe (PROBE_UP) after each sample
#
# You can either copy pasta this directly or import
# into your config.yml using [include microprobe.cfg]
#
# Note: if you are changing from a bltouch or one of its
# clones, remove/comment out the [bltouch] config!
# That also includes any auto generated config stored
# at the bottom by the PROBE_CALIBRATE command
#
# Note: the current control and sensor pin values are
# configured for the 'BTT SKR E3 mini V2' controller 
# board. You may need to update these values depending
# on your controller board model.
#
# Update (2023-10-17): This config is configured for
# the V1 microprobe. V2 users must update the 
# polarity of the sensor pin in the config to be 
# pull-down (^!) not pull up (^)

[gcode_macro PROBE_DOWN]
gcode:
    SET_PIN PIN=probe_enable VALUE=1

[gcode_macro PROBE_UP]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

[output_pin probe_enable]
pin: EBBCan:gpio22  # Set to the control pin on your board
#pin: PA1
value: 0

[probe]
pin: ^!EBBCan:gpio24  # NOTE FOR V2 users: Set this to ^!PC14 to set the low level trigger 
#pin: ^!PC14
deactivate_on_each_sample: False
x_offset: 0
y_offset: 22
#z_offset: 0  # Will be overridden when you do a PROBE_CALIBRATE
samples: 2
samples_tolerance: 0.05
samples_tolerance_retries: 3
activate_gcode:
    PROBE_DOWN
    G4 P500
deactivate_gcode:
    PROBE_UP

[bed_mesh]
speed: 50
horizontal_move_z: 5
#mesh_radius:
#mesh_origin:
mesh_min: 15, 37           # Change this is the coordinate for the first probe point
mesh_max: 279, 265    # Change this is the coordinate for the last probe point
probe_count: 6, 6
mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: 0.2
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
#Set your own coordinates to position the probe over the screw points.
screw1: 28,6
screw1_name: Left-Front
screw2: 268,6
screw2_name: Right-Front
screw3: 268,245
screw3_name: Right-Back
screw4: 28,245
screw4_name: Left-Back
speed: 100
horizontal_move_z: 5
screw_thread: CW-M3
    
#####################################################################
# 	Fan Control
#####################################################################

######
# Electronics Fan
# FAN1 Connector
###############

[temperature_fan BTT_pi_fan]
# Electronics fan PWM
pin: PC7
max_power: 0.60
hardware_pwm: true
control: watermark
max_delta: 2
sensor_type: temperature_host
min_temp: 10
max_temp: 80
target_temp: 40

[multi_pin my_controller_fan_pins]
pins: PC6, PB15

[controller_fan controller_fan]
pin: multi_pin:my_controller_fan_pins
kick_start_time: 0.5
fan_speed: 0.6
heater: heater_bed

######
# Hot End Fan
# FAN2 Connector
###############

#See EBB SB2209 Include for Fan

######
# Part Cooling Fan
# FAN0 Connector
###############

#See EBB SB2209 Include for Hotend and Cooling Fan

#####################################################################
#   Orca Slicer Settings
#####################################################################
# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.133
#*# pid_ki = 1.197
#*# pid_kd = 131.940
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.557
#*# pid_ki = 0.883
#*# pid_kd = 1449.035
#*#
#*# [probe]
#*# z_offset = 1.886
#*#
#*# [bed_mesh 60]
#*# version = 1
#*# points =
#*# 	0.346875, 0.262500, 0.215625, 0.193750, 0.256250
#*# 	0.371875, 0.253125, 0.196875, 0.193750, 0.309375
#*# 	0.371875, 0.256250, 0.206250, 0.240625, 0.371875
#*# 	0.290625, 0.168750, 0.159375, 0.231250, 0.353125
#*# 	0.190625, 0.121875, 0.125000, 0.187500, 0.368750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 279.0
#*# min_y = 37.0
#*# max_y = 265.0
#*#
#*# [bed_mesh 80]
#*# version = 1
#*# points =
#*# 	0.031250, -0.018750, -0.021875, -0.028125, -0.003125, 0.031250
#*# 	0.118750, 0.031250, 0.025000, -0.006250, 0.003125, 0.071875
#*# 	0.125000, 0.059375, 0.028125, 0.043750, 0.071875, 0.143750
#*# 	0.103125, 0.040625, 0.012500, 0.021875, 0.059375, 0.168750
#*# 	0.037500, -0.025000, -0.037500, -0.012500, 0.028125, 0.125000
#*# 	-0.071875, -0.118750, -0.100000, -0.078125, -0.003125, 0.106250
#*# min_x = 15.0
#*# max_x = 279.0
#*# min_y = 37.0
#*# max_y = 265.0
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.068750, -0.012500, -0.031250
#*# 	  -0.075000, -0.000000, -0.050000
#*# 	  -0.087500, -0.012500, -0.062500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 132.5
#*# max_x = 152.5
#*# min_y = 140.0
#*# max_y = 160.0
